<div class="small-12 columns">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h1>Items</h1>
    </div>
    <div class="small-12 medium-3 column">
      <%= form_tag items_url, method: :get, id: "filter_by_category" do %>
        <%= select_tag "category", options_for_select(@categories.map {|c| [c.name]}, params[:category]), prompt: "Filter by category", class: "category" %>
      <% end %>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th width="40%" class="text-center">Name</th>
        <th width="20%" class="text-center">Price ($)</th>
        <th width="40%" class="text-center">Add To Ticket</th>
      </tr>
    </thead>

    <tbody>
      <% if @items.length > 0 %>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td class="text-center"><%= (item.price.to_f/100).round(2) %></td>
            <td class="text-center">
              <div class="row">
                <% if item.in_stock? %>
                  <%= form_tag ticket_items_path do %> 
                    <%= hidden_field_tag "ticket_item[item_id]", item._id %>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                          <div class="small-4 small-offset-2 columns">
                            <%= number_field_tag "ticket_item[quantity]", item._id, value: "1" %>
                          </div>
                          <div class="small-4 columns end">
                            <%= submit_tag "Add", class: "button postfix" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  Out of Stock
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No menu items found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
