<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to app_name, root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "Menu", items_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Ticket (#{current_ticket.ticket_items.length.to_i})", current_tickets_path %></li>
      <li class="divider"></li>
      <% unless user_signed_in? || admin_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path, class: "" %></li>
        <li class="divider"></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#"><%= current_user.email %></a>
          <ul class="dropdown">
            <li><%= link_to "Previous Tickets", tickets_path %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>

      <% if admin_signed_in? %>
        <li class="has-dropdown">
          <a href="#">Manage</a>
          <ul class="dropdown">
            <li><%= link_to "Locations", admin_locations_path %></li>
            <li><%= link_to "Setting", admin_settings_path %></li>
            <li><%= link_to "Logs", admin_logs_path %></li>
          </ul>
        </li>
        <li class="divider"></li>

        <li class="has-dropdown">
          <a href="#"><%= current_admin.email %></a>
          <ul class="dropdown">
            <li><%= link_to "Account", edit_admin_registration_path %></li>
            <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </section>
</nav>
